@charset "UTF-8";
/*********** Variables et Mixins ***********/
/*********** Header ***********/
header {
  padding: 20px 0px 10px 0px;
  text-align: center;
}
header img {
  height: 36px;
  width: 197px;
}

/*********** Footer ***********/
footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
footer span {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding-top: 16px;
}
footer ul li i {
  padding-right: 15px;
  width: 11px;
}

/*********** Général ***********/
.main_container {
  width: 100%;
  max-width: 768px;
}
.main_container section {
  padding: 50px 20px;
}
.main_container h2 {
  padding-bottom: 25px;
}

/*********** Formulaire ***********/
.formulaire {
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  box-shadow: inset 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulaire form {
  display: flex;
  gap: 15px;
  width: 140px;
}
.formulaire form input {
  background-color: #EAEAEA;
  border: none;
  font-size: 16px;
}
.formulaire form input::placeholder {
  color: black;
  opacity: 1;
}
.formulaire form input:focus {
  outline: none;
}

/*********** Section Présentation ***********/
.presentation {
  background-color: #F6F6F6;
  text-align: center;
}
.presentation h1 {
  padding: 0px 30px;
}
.presentation p {
  padding: 10px 0px 25px 0px;
  font-weight: 300;
  font-size: 18px;
}
.presentation button {
  color: white;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(-185deg, #FF79DA, 45%, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
}

/*********** Section Fonctionnement ***********/
.etapes {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.etapes div {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 72px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
}
.etapes div span {
  background-color: #9356DC;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  position: absolute;
  top: auto;
  left: -12px;
}
.etapes div i {
  padding-left: 30px;
  padding-right: 20px;
  color: #7E7E7E;
}
.etapes div:hover i {
  color: #9356DC;
}

/*********** Section Restaurants ***********/
.restaurants {
  background-color: #F6F6F6;
}
.restaurants .card_restaurant {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .card_restaurant .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  height: 251px;
  position: relative;
  z-index: 1;
}
.restaurants .card_restaurant .card span {
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
.restaurants .card_restaurant .card img {
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 180px;
}
.restaurants .card_restaurant .card .card_content {
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 10px;
}
.restaurants .card_restaurant .card .card_content .card_txt .card_title {
  font-size: 18px;
}
.restaurants .card_restaurant .card .card_content .card_txt .card_subtitle {
  font-weight: 300;
}

/* Génnéral */
.menu_main_container {
  width: 100%;
  max-width: 768px;
}
.menu_main_container h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
}
.menu_main_container h2 {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 5px;
}
.menu_main_container hr {
  border: none;
  border-top: #99E2D0 solid 3px;
  width: 40px;
  padding-bottom: 12px;
}
.menu_main_container h3 {
  font-weight: 500;
  font-size: 18px;
}
.menu_main_container .menu_plats {
  padding: 40px 15px;
}
.menu_main_container .menu_plats section {
  padding-bottom: 20px;
}

/* Header */
.menu_header {
  position: relative;
}
.menu_header a {
  font-size: 18px;
  position: absolute;
  top: 26px;
  left: 20px;
}

/* Bandeau img */
.menu_img_bandeau img {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

/* Section entrée/plat/dessert */
.menu_plats {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -50px;
}

.menu_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.menu_title i {
  padding-right: 20px;
}

/* Card entrée/plat/dessert */
.menu_card {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  padding: 0px 5px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.menu_card_content {
  display: flex;
  justify-content: space-between;
}
.menu_card_content p {
  font-weight: 300;
  font-size: 15px;
}

/* Boutton */
.menu_button {
  color: white;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(-185deg, #FF79DA, 45%, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 15px 50px;
  display: block;
  margin: auto;
}

/*Version tablette*/
@media (min-width: 768px) {
  /*Page index*/
  .main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
  }
  .main_container section {
    padding: 50px 50px;
  }
  .main_container .formulaire {
    box-shadow: none;
  }
  .main_container .etapes {
    flex-direction: row;
  }
  .restaurants .card_restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
  .restaurants .card_restaurant a {
    width: 45%;
  }
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 120px;
  }
  footer div {
    display: flex;
    gap: 70px;
  }
  footer ul {
    display: flex;
    gap: 20px;
  }
  /*Page menu*/
  .menu_main_container {
    max-width: none;
  }
  .menu_img_bandeau img {
    height: 385px;
  }
  .menu_plats {
    width: 75%;
    margin: -50px auto 0px auto;
  }
  .menu_plats .menu_title {
    justify-content: center;
    gap: 40px;
  }
  .menu_plats section {
    width: 60%;
    margin: auto;
  }
}
/*Version desktop*/
@media (min-width: 1440px) {
  .main_container section {
    padding: 50px 180px;
  }
}
/*Animation bouton*/
button {
  transition: all 300ms;
}
button:hover {
  filter: opacity(85%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

/*Animation chargement page menu*/
@keyframes chargement_page_menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.entree {
  animation: chargement_page_menu 300ms;
}

.plat {
  animation: chargement_page_menu 300ms 300ms backwards;
}

.dessert {
  animation: chargement_page_menu 300ms 600ms backwards;
}

/*********** Général ***********/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-heart {
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
