@import "partials/variables_mixins";
@import "partials/header_footer";
@import "partials/index";
@import "partials/menu";

/*********** Général ***********/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.fa-heart {
    font-size: 22px; 
}
