/*Animation bouton*/

button {
    transition: all 0.3s;

    &:hover {
        filter: opacity(85%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45); }
}


/*Animation chargement page menu*/

@keyframes opacity {
    from {
        opacity:0; }
    to {
        opacity:1; }
}

.entree {
    animation: opacity 0.3s;
}

.plat {
    animation: opacity 0.3s 0.3s backwards;
}

.dessert {
    animation: opacity 0.3s 0.6s backwards;
}


/* Animation loader */

 @keyframes rotation {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg); }
    } 

.loader {
    position: absolute;
    top: 25%;
    left: 50%;
    margin: 0px 0px 0px -35px;
    width: 70px;
    height: 70px;
    border: 7px solid $couleur-primaire;
    border-top-color: $couleur-tertiaire;
    border-radius: 50%;
    animation: rotation 1.5s linear reverse 2;
} 

.loader_container {
    animation: opacity reverse 3s forwards;
}

.main_container {
    animation: opacity 0.3s 3s backwards;
}


/*Animation checkbox*/

.menu_card:hover {

   .menu_card_title_content {
        width: 80%; } 
    
    .menu_card_title_content h3, .menu_card_content p {
        padding-right: 25px; }

    .menu_card_check {
        margin-right: 0px;
        transition: margin-right 0.3s; }
} 

.menu_card_check:not(:hover) {
    transition: margin-right 0.3s;
}

/*Animation coeur*/

.heart {
        cursor: pointer;
        position: relative;

        .empty_heart, .full_heart {
            position: absolute;
            bottom: -10px;
            right: 10px; } 
    
    .full_heart {
        opacity: 0;
        background: linear-gradient(-185deg, $couleur-primaire, 45%, $couleur-secondaire);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
        transition: opacity 1s;

        &:hover {
            opacity: 1; } }
} 

    