/*Animation bouton*/

button {
    transition: all 300ms;

    &:hover {
        filter: opacity(85%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45); }
}


/*Animation chargement page menu*/

@keyframes chargement_page_menu {
    from {
        opacity:0; }
    to {
        opacity:1; }
}

.entree {
    animation: chargement_page_menu 300ms;
}

.plat {
    animation: chargement_page_menu 300ms 300ms backwards;
}

.dessert {
    animation: chargement_page_menu 300ms 600ms backwards;
}

